/* ADS FOUND CONTAINER */

div#ads-found-container {
    position:absolute;
    height:25%;
    width:45%;
    padding-top:15px;
}

div#ads-found-container h1#ad-count-notification-header {
    text-align:center;
    margin:0px auto;
    border-bottom:3px solid black;
}

/* ADS LISTING CONTAINER HEADER */

div#ads-listing-container {
    position:absolute;
    overflow-y:auto;
    bottom:0;
    height:75%;
    width:45%;
}

div#ads-listing-container ol {
    list-style: square url("https://st.adsafecontrol.com/utilities/DogDiagnostic/assets/black_square.png");
}

div#ads-listing-container ol > li > span:hover {
    color:white;
    cursor:pointer;
}

/* DATA DISPLAY CONTAINER HEADER */

div#data-display-container {
    border-left:3px solid black;
    border-radius:15px;
    height:100%;
    width:55%;
    float:right;
}

div#data-display-container .data-display-wrap {
    height:100%;
}

div#data-display-container div#data-model-selection-container {
    width:100%;
    height:25%;
}

div#data-model-selection-container div.data-model-selection-wrap {
    width:25%;
    height:100%;
    float:left;
    cursor:pointer;
}

div#data-model-selection-container div.data-model-selection-wrap h1.data-model-selection {
    text-align:center;
    margin:0 auto;
    padding-top:15px;
    border-bottom:3px solid black;
}

div#data-model-selection-container div.data-model-selection-wrap h1.data-model-selection:hover {
    color:white;
}

div#data-model-selection-container div.data-model-selection-wrap h1.data-model-selected {
    color: white;
}

/* DATA DISPLAY CONTAINER CONTENT */

div#data-display {
    width:100%;
    height:72%;
    overflow-y:auto;
    margin-top: 5px;
}