@import './layout/colors';
@import './layout/fonts';
@import './layout/global';
@import './modules/pub_score';
@import './vendor/materialize';

body {
  font-family: $font-stack;
  min-height: 700px;
  min-width: 480px;
}

a, a:hover, a:focus {
  border: 0;
  outline: none;
  text-decoration: none;
}

.ias-img {
  max-width: 45px;
}

.header {
  padding: 15px 0;
  & h1 {
    font-size: 1.8rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
}

.tabs {
  height: 80px;
  & .tab {
    line-height: 15px;
    height: 80px;
  }
  & h6 {
    font-size: .8rem;
  }

}

