<div class="row pub-score-section">
  <p>
   <span>
      Risk:
    </span>
    {{risk}}
  </p>
  <div class="col s6">
    <div class="pub-score-item">
      <span>
        Suspicios Activity Realtime:
      </span>
        {{scores.rsa}}
    </div>
  </div>
  <div class="col s6">
    <div class="pub-score-item">
      <span>
        Suspicios Activity Metric:
      </span>
        {{scores.sam}}
    </div>
  </div>
</div>