<div class="ias-logo">
  <div class="integral">
    &#x222B;
  </div>
  <div class="integral integral-tilt">
    &#x222B;
  </div>
  <div class="integral integral-tilt">
    &#x222B;
  </div>
  <div class="integral integral-tilt">
    &#x222B;
  </div>
</div>