.ias-tag-container {
  postion: relative;
  width: 60px;
  height: 60px;
  display: inline-block;
  & .ias-ad-outline {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 0px 10px 3px 10px;
    border: 2px solid #181818;
    cursor: pointer;
  }
}

.dt-call-container {
  position: absolute;
  left: 85px;
  z-index: 99;
  min-width: 175px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  display: none;
  & .dt-call-row {
    margin-bottom: 10px;
  }
}

