.pub-score-section {
  font-size: .8rem;
  & .pub-score-item {
    margin-bottom: 5px;
  }
  & .pub-score-item-viewability {
    margin-top: 10px;
  }
  & p {
    color: $secondary-color;
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0;
  }
  & span {
    font-family: $primary-font-medium;
  }
}